API_HOST=0.0.0.0
API_PORT=12345

PG_CONTAINER_NAME=chess-postgres-dev
POSTGRES_USER=chess
POSTGRES_PASSWORD=change_me
POSTGRES_DB=chess
DB_HOST=pg_database_chess
DB_PORT=5432

REDIS_CONTAINER_NAME=chess-redis-dev
REDIS_HOST=redis_cache
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=change_me
